/*
    BUTTON STYLE
*/

.btn{

    display: block;

    width: 230px;
    height: 40px;
    line-height: 40px;

    margin: 10px auto;

    border-radius: 20px;

    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #4D5762;
    background: #fff;

    font-size: 15px;

    transition: all 0.2s;
}

.btn:hover{

    transform: scale(1.05);
    cursor: pointer;
    transition: transform .2s;

}

.btn.btn-light{
    border: none;
    color: #4D5762;
    background: #eee;
}

.btn.btn-dark{
    background: #989899;
    color: #fff;
}

.btn.btn-large{
    width: 300px;
    height:60px;
    line-height: 60px;
    border-radius: 40px;
    font-size: 22px;
    font-weight: normal;
}

.btn.btn-border{
    font-weight: bold;
    color: #fff;
    line-height: 40px;

    background: none;
    border: 2px solid #fff;
}

.btn:active{
    transform: scale(0.9);
    transition: all 0.2s;
}

.btn.btn-social{
    height: 70px;
    width: 70px;

    position: relative;

    border-radius: 40px;
    overflow: hidden;

    background-image: linear-gradient(to bottom right, #363795, #005C97);
}

.btn-social img{
    height: 40px;
    width: 40px;

    display: block;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    margin: auto;
}

.btn.btn-success-anim{
    position: relative;
}

.btn.btn-success-anim:after{

    content: '';
    display: block;
    position: absolute;


}