/*
    Loading fonts
*/

@font-face {
    font-family: "OratorStd";
    src: url(../fonts/OratorStd.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: inherit;
    font-style: inherit;
    color: inherit;
}

/* Paragraphs */
p{
    color: #4D5762;

    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    text-align: justify;

    padding: 10px 0;
}

p .tab{
    margin-left: 2.3em;
}

.text-small{
    font-size: 0.9em;
}

.text-center{
    text-align: center;
}

.text-italic{
    font-style: italic;
}

.text-underline{
    text-decoration: underline;
}

.text-exp{
    font-size: 10px;
    position: relative;
    bottom: 8px;
}


.title{text-align: center;}

.title .icon{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border-radius: 0 0 20px 20px;
}

.title h1{
    font-size: 50px;
    font-family: "OratorStd", sans-serif;
    font-weight: 300;
    margin: 30px 0 15px 0;
}
.bright .title h1{color: #4D5762;}
.colored .title h1{color: #fff;}

.title .spacer{
    width: 20%;
    height: 2px;
    display: block;
    margin: 0 auto 30px auto;
    background: black;
}

.bright .title .spacer{background: #485563}
.colored .title .spacer{background: #fff; opacity: 0.9;}

.title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
}

.bright .title h2{color:#4D5762;}
.colored .title h2{color: #fff}

/* colored Fade Background */
.colored{
    background: linear-gradient(to bottom right, #005C97, #3d72b4);
    background: linear-gradient(to bottom right, #363795, #005C97);
    
    /* Dark color : rgb(54, 55, 149)   , Light color : rgb(0, 92, 151) */
    
    z-index: 1;
}

.bright{
    background: #fff;
    z-index: 2;

    -webkit-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    -moz-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
}

.padded{
    padding: 100px;
}

@media screen and (max-width: 1400px) {

    .padded{
        padding: 30px;
    }

}

/*
    Header
*/

header{
    height: 70px;
    width: 100%;
    z-index: 5;

    display: block;
    position: fixed;

    transition: all 0.3s;
}

header.scrolled{
    background: rgba(255,255,255,0.8);

    transition: all 0.3s;

    -webkit-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    -moz-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
}

nav{
    width: 100vw;
    height: 70px;
    padding: 0 60px;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;

    line-height: 70px;
    font-family: 'OratorStd', sans-serif;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;

    margin: 0 50px;
}

header.scrolled nav ul li{
    color: #005C97;
}

header button{
    display: none !important;
}

@media screen and (max-width: 1400px) {

    header{
        background: rgba(255,255,255,0.8);
    }

    nav{
        position: relative;
        top: 70px;
        left: 0;
        right: 0;

        width: 100vw;
        height:auto;
        padding: 0;

        z-index: 4;
        overflow: hidden;

        opacity: 0;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    nav.display{
        opacity: 1;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        padding: 5px 0 5px 45px;
        text-align: left;
        width: 100%;
        color: #535C65;
        background: rgba(255,255,255,0.8);
    }

    header button{
        display: block !important;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
    }

}

/*
    Accueil
*/
#accueil{
    width: 100%;
    height: 100vh;
    padding: calc((100vh - 90px - 362px) / 2 + 45px) 0 calc((100vh - 90px - 362px) / 2) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#accueil .imgContainer{
    margin: 0 auto;

    height: 240px;
    width: 240px;
    background: #fff;
    border-radius: 50%;
}

#accueil .accueilImg{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin: 5px;
}

#accueil h1{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 65px;
    text-align: center;
    margin: 10px 0;
}

#accueil h2{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

/*
    ITEMS
*/

.item{

    background: #fff;

    padding: 6px 4px;

    min-height: 40px;
    border-radius: 20px;
    text-align: center;
    font-family: 'OratorStd', sans-serif;
    color: #505B67;
    font-weight: 600;
    font-size: 18px;

    position: relative;

    transform: scale(1);
    transition: transform 0.2s; 
    
    width: 100%;
}

.item:hover{
    cursor: default;
    transform: scale(1.05);

    transition: transform 0.2s;
}

.item.item-dark{
    color: #fff;
    background: #505B67;
}

.item.item-red{
    color: #fff;
    background: #8a1538;
}

.item-border{
    color: #fff;
    background: #505B67;
}

.item-border.item-dark{
    color: #505B67;
    background: none;
    border: 2px solid #505B67;
}

.item.item-medium{
    max-width: 500px;
    margin: 0 auto;
}

.item .info{

    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;

    padding: 8px 10px;
    margin: 0 auto;

    max-width: 430px;

    border-radius: 5px;

    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;

    background: #353b48;
    
    color: #fff;
    font-size: 14px;

    z-index: -1;

    display: none;
}

.item:hover .info{
    display: block;
}

.item .info:before{

    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;

    display: block;

    content: '';
    background: #353b48;
    height: 12px;
    width: 12px;

    margin: 0 auto;

    transform: rotate(45deg);

    z-index: -1;

}

/* Spacer */

.timeSpacer{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #505B67;
    display: block;
    
    width: 200px;
    margin: 5px auto;
}

.timeSpacer:before, .timeSpacer:after{
    height: 1px;
    width: 78px;
    display: block;
    background: #505B67;
    content: '';
    position: relative;

    margin: 14px 0;
}

.timeSpacer:before{
    right: 8px;
    top: 30px;
}

.timeSpacer:after{
    left: 130px;
    bottom: 27px;
}


/* Compétences */

#competences{
    min-height: 950px;
}

#competences .skills{
    margin: 50px auto 0 auto;
    min-height: 420px;
}

.skills .item{

    margin-top: 30px;
    margin-bottom: 30px;

}


/*
    Projects
*/
#projects.padded{
    padding: 100px 0;
}

.timeline{
    margin: 40px 0 10px 0;
}

.timeline .project{
    margin: 0 auto;
}

#projects .timeline .project .name{
    font-size: 45px;
    font-family: 'OratorStd', sans-serif;
    color: #4D5762;

    text-align: center;
}

#projects .timeline .project .description{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: #4D5762;

    text-align: center;
}

#projects .timeline .project .card{
    min-height: 200px;
    width: 800px;

    margin: 40px auto;

    background: linear-gradient(to bottom right, #363795, #005C97);
    border-radius: 30px;

    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1385px) {

    #projects .timeline .project .card{

        width: 100%;
        border-radius: 0px;

    }

}

#projects .timeline .project .card .column{
    width: 33%;

    display: block;
    position: relative;

    margin: 0;
    padding: 0;
}

#projects .timeline .project .card .logo{

    display: flex;
    justify-content: center;

}

#projects .timeline .project .card .logo img{
    width: 120px;
    height: 120px;

    display: block;

    margin: auto;
    padding: 0;
}

#projects .timeline .project .card .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 110px;
    margin: auto;
}

#projects .timeline .project .card .buttons .info{
    color: #fff;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 15px;

    bottom: -45px;
    left: 0;
    right: 0;
}

#projects .timeline .project .card .technos .title{
    color: #fff;
    font-size: 22px;
    font-style: normal;
}

#projects .timeline .project .card .technos{
    list-style: none;
    font-family: 'OratorStd', sans-serif;
    color: #eee;
    font-size: 20px;
    font-style: italic;

    padding: 25px 0;
    margin: auto;
}

/*
    CV
*/
#cv .choice{
    padding: 40px 0;
}

#cv .illustration{
    height: auto;
    width: 100px;

    display: block;

    margin: 25px auto;
}

/*
    DIVIDER
*/

.divider{
    color: #fff;

    margin: 20px;

    display: flex;
}

.divider.row{flex-direction: row;}
.divider.column{flex-direction: column;}

.divider .text{
    font-family: 'OratorStd', sans-serif;
    font-size: 1.8em;
    text-align: center;
    padding: 15px;
}

.divider .bar{
    background: #fff;
    margin: auto;
}

.divider.row .bar{
    width: 90px;
    height: 1px;
}

.divider.column .bar{
    width: 1px;
    height: 90px;
}

/*
    Contact
*/

.contactWindow{

    width: 100%;
    max-width: 460px;

    margin: 25px auto!important;

    overflow: hidden;
    border-radius: 15px;

    -webkit-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    -moz-box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);
    box-shadow: 0px 8px 10px 0px rgba(90,86,86,0.16);

}

.contactWindow.open{
    width: 100%;
    max-width: 1200px;

    transition: all 0.3s;
}

@media (max-width: 576px) {

    #contact .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

}

.contactWindow .aside{
    padding: 55px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(to bottom right, #363795, #005C97);

}

.contactWindow .aside p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    text-align: center;
    margin-bottom: 15px;
}

.contactWindow .aside .title{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.contactWindow form{
    padding: 40px 6%;


    display: none;
    flex-direction: column;
    justify-content: space-around;

    background-color: #fff;
}

.contactWindow.open form{
    display: flex;

    transition: all 0.3s;
}

.contactWindow form label{
    display: block;
    width: 100%;

    margin: 20px 0;

    font-family: 'Roboto', sans-serif;

    position: relative;
}

.contactWindow form .labelText{
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;

    line-height: 45px;
    transition: all 0.3s;

    font-size: 16px;

    color: #555555;

}

.contactWindow form input,
.contactWindow form textarea{
    width: 100%;

    background-color: #eee;
    border-radius: 5px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555555;

    padding: 0 15px;
}

.contactWindow form input{
    height: 45px;
    line-height: 45px;
}

.contactWindow form textarea{
    height: 200px;
    padding: 17px 15px;
    resize: none;
}

.contactWindow form input:focus + .labelText,
.contactWindow form input:valid + .labelText,
.contactWindow form textarea:focus + .labelText,
.contactWindow form textarea:valid + .labelText{
    top: -40px;
    font-weight: bold;
    font-size: 17px;
    transition: all 0.3s;
}

.contactWindow form input:focus,
.contactWindow form textarea:focus{
    outline: none;
}

/*
    Footer
*/
footer{
    background: linear-gradient(to bottom right, #363795, #005C97);

    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: column;

}

footer .text{
    font-family: 'OratorStd', sans-serif;
    font-size: 30px;
    color: #fff;
}

footer .text img{
    height: 23px;
}
